@model MuksanDemo.Areas.Security.Models.UserViewModel

@{ViewBag.Title = "Delete";
Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="form-horizontal">
    <header class="row content-header">
        <div class="col-md-6">
            <h2>Delete this user?</h2>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="col-md-6 content-action text-right">

                <div class="form-actions no-color">
                    <a href="@Url.Action("Index")" class="btn btn-link">
                        <span class="glyphicon glyphicon-remove"></span>Cancel


                    </a>

                    <a href="@Url.Action("Delete")" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>Delete

                    </a>
                    
                </div>
            </div>
        }
    </header>

    <div class="panel-body">
        <img src="@Url.Content("~/Areas/Security/images/unknown.png")" class="img-rounded resize" />

        <p class="text content-text">
            <b>
                @Html.DisplayFor(model => model.LastName)
            </b>
        </p>
        @Html.DisplayFor(model => model.FirstName)
        <br><br />
        @Html.DisplayFor(model => model.Age) years old
        <br><br />
        @Html.DisplayFor(model => model.Gender)
    </div>






</div>
